.product-form {
    color: white;
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.product-item {
    color: white;
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.product__title {
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    color: white;
    text-align: center;
    margin-bottom: 0.5rem;
}

.product__description {
    color: white;
    text-align: center;
}